<mat-toolbar color="primary">
    <a routerLink='/home'><img src="/assets/images/Money.JPG" height=30 width=41></a>
    <span class ="flex-spacer"></span>
    <span class="span">MicroService Portfolio Management </span>
    <span class ="flex-spacer"></span>
    <div>
    <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button    *ngIf="!authenticationService.isUserLoggedIn()" (click)="openLoginForm()" ><span class="fa fa-sign-in fa-lg"></span> Login </a>
    <a mat-button *ngIf="authenticationService.isUserLoggedIn()" routerLink="/dashboardf" routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Place Order</a>
    <a mat-button *ngIf="authenticationService.isUserLoggedIn()" routerLink="/cart" routerLinkActive='active'><span class="fa fa-shopping-cart fa-lg"></span> Dashboard</a>
    <a mat-button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="authenticationService.isUserLoggedIn()">
      <span class="fa fa-user-circle-o fa-lg" aria-hidden="true"></span>
    </a>
  </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span class="fa fa-sign-out fa-lg"></span>
        <a mat-button *ngIf="authenticationService.isUserLoggedIn()"  routerLink="/logout" (click)=handleLogout()>Logout</a>
      </button>
      
    </mat-menu>
  </mat-toolbar>