	<h3 class="mb-3 text-center">Order Stocks</h3>
<br>
<div class="ui-inputgroup">
      <label for="stonks">Ticker Name: &nbsp;</label>
      <select class="form-control" [(ngModel)]="stockdetails.stockTicker">
        <option value="AMZN">AMZN</option>
        <option value="TESLA">TESLA</option>
		<option value="JPMC">JPMC</option>
        <option value="SBI">SBI</option>
      </select>
 	</div>



<div  class="ui-inputgroup">
    Enter number of Stocks: &nbsp; <span class="ui-inputgroup-addon"><i class="fa fa-suitcase"></i></span>
    <input type="text"  [(ngModel)]="stockdetails.volume" pInputText placeholder="Enter number of Stocks" class="form-control">       
 </div>

<div  class="ui-inputgroup">
    Enter Value: &nbsp; <span class="ui-inputgroup-addon"><i class="fa fa-suitcase"></i></span>
    <input type="text"  [(ngModel)]="stockdetails.price" pInputText placeholder="Enter number of Stocks" class="form-control">       
 </div>

 <div  class="ui-inputgroup">
    Enter ID: &nbsp; <span class="ui-inputgroup-addon"><i class="fa fa-suitcase"></i></span>
    <input type="text"  [(ngModel)]="stockdetails.id" pInputText placeholder="Enter number of Stocks" class="form-control" disabled>       
 </div>

<div class="ui-inputgroup">
      <label for="stonks">Buy Or Sell: &nbsp;</label>
      <select class="form-control" [(ngModel)]="stockdetails.buyOrSell">
        <option value="buy">BUY</option>
        <option value="sell">SeLL</option>
        </select>
 	</div> 

 <div  class="ui-inputgroup">
    Status Code : &nbsp; <span class="ui-inputgroup-addon"><i class="fa fa-suitcase"></i></span>
    <input type="text"  [(ngModel)]="stockdetails.statusCode" pInputText placeholder="Enter number of Stocks" class="form-control" disabled>       
 </div>

<br>
<br>
 <div class="ui-inputgroup">
	  <button mat-button color="primary" (click)="addStocks()">Order Stocks</button>
	</div>







